# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Distribution files
dist/
build/
*.egg-info/

# Logs and database files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
