# Data
youtube_transcript_api
google-api-python-client

# Default
python-dotenv==1.0.0
transformers==4.28.1

# Notebook
jupyterlab==3.6.3

# Development
fastapi==0.95.2

# Llama
PyYAML
tiktoken
Pillow
replicate

langchain
langchain-community
sentence-transformers
faiss-cpu
bs4